<meta http-equiv="refresh" content="0; url=./paliEditor.html" />
<div class='fullscreenDiv'>
    <div class="center">
        <h1>
            <center>PaliEditor Online<br />
            <a href="./paliEditor.html">http://ThaiPitaka.gitlab.io/pali-editor/paliEditor.html</a></center>
        </h1>
    </div>
</div>​
<style>
.center {
    position: absolute;
    top: 50%;
    left: 50%;
}
</style>

